@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
main .content_top{
    width: 100%;
    height: 475px;
    background:#e9e7e7;
}
main .top_img{
    width: 100%;
    height: 396px;
}
main .top_img img{
    width: 100%;
    height: 396px;
}
main .content_top .top_button{
    width: 50px;
    height: 7px;
    background: #0899e6;
    margin: auto;
    margin-top: 37px;
}
main .content_top .top_button:hover{
    cursor: pointer;
}
main .content_main{
    width: 80%;
    margin: auto;
    display: flex;
}
main .content_main .main_left{
    width: 70%;
    margin-right: 110px;
}
main .title{
    width: 150px;
    height: 50px;
    padding-top: 30px;
    display: flex;
}
main .title .ellipse{
    width: 6px;
    height: 15px;
    background: #0977b3;
    border-radius: 30%;
    margin-top: 10px;
}
main .title h1{
    font-size: 25px;
    color: #0899e6;
    padding-left: 20px;
}
main .content_main .main_left .left_article{
    width: 100%;
    height: 250px;
    display: flex;
}
main .content_main .main_left .left_article:hover{
    background: skyblue;
}
main .content_main .main_left .left_article .article_img{
    width: 300px;
    height: 250px;
    padding-top: 35px;
    margin-right: 50px;
}
main .content_main .main_left .left_article .article_img img{
    width: 300px;
    height: 180px;
}
main .content_main .main_left .left_article .article_text{
    width: 500px;
    height: 200px;
    margin-top: 25px;
}
main .content_main .main_left .left_article .article_text h1{
    font-size: 20px;
    line-height: 45px;
}
main .content_main .main_left .left_article .article_text p{
    font-size: 13px;
    color: slategray;
    line-height: 25px;
}
main .content_main .main_left .left_article .article_text a{
    text-decoration: none;
    color: rgb(117, 116, 116);
}
main .content_main .main_left .left_article .article_text .article_time{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
main .content_main .main_left .left_article .article_text .article_time .time_eye{
    width: 200px;
    height: 40px;
    display: flex;
}
main .content_main .main_left .left_article .article_text .article_time .time_eye .time{
    width: 100px;
    height: 40px;
    background: url("../img/time.png") no-repeat;
    padding-left: 30px;
    font-size: 14px;
    color: slategray;
    line-height: 24px;
    margin-right: 10px;
}
main .content_main .main_left .left_article .article_text .article_time .time_eye .eye{
    width: 100px;
    height: 40px;
    background: url("../img/eye.png") no-repeat;
    padding-left: 30px;
    font-size: 14px;
    color: slategray;
    line-height: 24px;
}
main .content_main .main_left .left_article .article_text .article_time .text{
    width: 70px;
    height: 20px;
    border: 1px solid #0899e6;
    border-radius: 10%;
    margin-right: 15px;
    text-align: center;
    line-height: 20px;
}
main .content_main .main_left .left_article .article_text .article_time .text a{
    text-decoration: none;
    color: #0899e6;
}
.article_next {
    width: 600px;
    height: 50px;
    margin-left: 250px;
}
.article_next ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}
.article_next li{
    border: 1px solid silver;
    margin-right: 10px;
    padding: 3px;
    margin-top: 5px;
    
}
.article_next a{
    font-size: 13px;
    text-decoration: none;
    color: black
}
.article_next li:hover{
    background: skyblue;
}
.article_next .text2{
    width: 100px;
    height: 20px;
    margin-top:5px;
}
.article_next .text2 span{
    font-size: 12px;
    color: silver;
}
main .content_main .main_right{
    width: 23%;
    margin-bottom: 30px;
}
main .right_img{
    width: 100%;
    height: 150px;
    margin-top: 40px;
    position: relative;
}
main .right_img img{
    width: 280px;
    height: 150px;
}
main .main_right .right_img .right_text{
    font-size: 15px;
    position: absolute;
    top: 125px;
    right: 70px;
    display: none;
}
main .main_right .right_img:hover .right_text{
    display: block;
}
main .main_right .right_img:hover img{
    width: 280px;
    height: 120px;
}
main .main_right .right_img a{
    text-decoration: none;
    color: rgb(102, 101, 101);
}