/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
/*选中当前导航标签*/
.current{
    background: #0899e6;
}
/*中间部分*/
main{
    height: 100%;
    background-color: white;
}
.search{
    position: relative;
}
/*搜索背景图片*/
.search-pic{
    height: 500px;
    background: url("../img/baihaba.jpg") center top no-repeat;
}
/*搜索框*/
.search-bottom{
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
}
.search-form{
    width: 720px;
    line-height: 50px;
    margin: 0 auto;
}
.search-con{
    width: 598px;
    height: 48px;
    outline: none;
    float: left;
    border: 0;
    text-indent: 20px;
}
/*搜索按钮*/
.search-sub{
    float: left;
    width: 100px;
    height: 48px;
    cursor: pointer;
    background-color: #0c94dc;
    border: 0;
    color: white;
    font-size: 16px;
    letter-spacing: 5px;
}
/*热门视频*/
.hotVideo{
    height: 90px;
    background: url("../img/rmsp_bg.png") #109ce5;
    padding-top: 40px;
}
.hotVideo img{
    padding-left: 60px;
}
.hotVideo div{
    height: 90px;
    text-align: center;
    background: url("../img/rmsp_jt.png") center bottom no-repeat;
}
/*热门视频内容*/
.hotVideo-con{
    width: 1200px;
    height: 493px;
    margin: 0 auto;
    padding-top: 50px;
}
.left{
    float: left;
}
.left img {
    width: 798px;
    height: 450px;
}
.right{
    float: right;
}
.right div:nth-child(1){
    margin-bottom: 18px;
}
.right img{
    width: 383px;
    height: 214px;
}
.more{
    padding: 40px 0 80px 0;
}
/*更多视频*/
.more div{
    width: 180px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #00a67c;
}
.more div a{
    color: #00a67c;
}
.more div a:hover{
    color: red;
}
/*热门美图*/
.hotPicture{
    height: 90px;
    padding-top: 40px;
    text-align: center;
    background-color: #f7f7f7;
}
.hotPicture img{
    padding-left: 60px;
}
/*美图内容*/
.hotPicture-con{
    background-color: #f7f7f7;
}
.hotPicture-con-warp{
    width: 1200px;
    margin: 0 auto;
}
.hotPicture-con ul li{
    width: 280px;
    margin-right: 26px;
    margin-bottom: 28px;
    position: relative;
    float: left;
}
.hotPicture-con .last{
    margin-right: 0;
}
.pic img{
    width: 280px;
    height: 158px;
    /*不设置这个，会有间隙*/
    display: block;
}
/*标题部分*/
.title a{
    display: block;
    height: 62px;
    line-height: 62px;
    background-color: #fff;
    color: #444;
    text-indent: 20px;
}
/*遮罩部分*/
.shade{
    background: url("../img/meitu_bgzzhao.png") left top no-repeat;
    width: 280px;
    height: 158px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    display: none;
}
.shade a{
    display: block;
    margin-top: 88px;
    margin-left: 115px;
}
.hotPicture-con ul li:hover .shade{
    display: block;
}
.hotPicture-con ul li:hover .title a{
    color: #fff;
    background-color: #00a67c;
}
/*更多美图*/
.more-pic{
    background-color: #f7f7f7;
}